{% extends "base.html.twig" %}

{% block title %}My Awesome Shop{% endblock %}

{% block content %}
    <a href="{{ hostname }}/export.php?action=products_csv">Export CSV</a> | <a href="{{ hostname }}/export.php?action=products_pdf">Export PDF</a>
    <table border="1">
        <tr>
            <td>Product</td>
            <td>Price</td>
        </tr>
        {% for row in results %}
            <tr>
                <td><a href="{{ hostname }}/product.php?action=view&id={{ row.id }}">{{ row.name }}</a></td>
                <td>{{ row.price|format_price }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
